%h1 Short version
%p
  I made this because I wasn't happy with the existing solutions. I am Brian from 
  %a{:href => "http://roobasoft.com"}
    roobasoft.com


%h1 Long version
 
%p
  I, Brian, of <a href="http://roobasoft.com">roobasoft.com</a>, 
  work with some people in Europe and was surprised to find that Google 
  didn't support "2pm MDT in CET" (they support a lot of conversions, like 
  <a href="http://www.google.com/search?hl=en&site=&q=200g+in+mg">200g in 20mg</a>).

%p
  No matter how many times I asked Google, it never knew.

%p
  So I made this. And then I realized why Google doesn't support the time
  conversions. It's not exactly accurate. Abbreviations and names of zones
  are not standard and some overlap. Instead of giving up I made it work
  how I needed it to work and put it out there for others who it may 
  or may not work for.

%p
  Find a missing city or abbreviation, there are currently lots :( 
  Or have a great feature idea, etc? 
  Help make When Is That better by telling me about it. Just shoot me an 
  %a{:href => "mailto:whenisthat@roobasoft.com?subject=When%20is%20that"}
    email

%p
  This is a 
  %a{:href => "http://www.sinatrarb.com"}Sinatra
  app and the source is available 
  %a{:href => "http://github.com/bricooke/whenisthat.net"}here
