- if !converted.nil? || !flash[:notice].nil?
  %p.result
    = flash[:notice]
    = converted

%form{:action => "/when", :method => "POST"}
  %input{:type => "text", :name => "q", :value => q || "2pm MDT in CET"}/
  %input{:type => "hidden", :name => "zone", :value => ""}/

%p
  Enter a conversion using google conversion syntax.
%code
  Examples:
  %br/
  2pm MDT in CET => "21:00"
  %br/
  2pm MDT in CDT => "15:00"
  %br/
  2pm in Chicago => "13:00" 
  %br/
  \# the above converts from 2pm Chicago time to your local time
  %br/
  %br/
  2pm Chicago   => "13:00"
  %br/
  \# again, uses your local time

%p
  %span.time
    {time}
  %span.from
    {from zone or city}
  in
  %span.to
    {to zone or city}

%p.missing
  Find a missing city or abbreviation, there are currently lots :(  Help make When Is That better by 
  telling me about it with an 
  %a{:href => "mailto:whenisthat@roobasoft.com?subject=When%20is%20that"}
    email
  .


%a{:href => "/about"}
  about

