!!!
%html{"xml:lang"=>"en", "lang"=>"en", "xmlns"=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{"content"=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}/
    %title
      When is that - easily convert time zones
    %link{:rel => "stylesheet", :href=>'/stylesheets/whenisthat.css'}/
    %script{:type => "text/javascript", :src => "/jquery.js"}
      
    %script{:type => "text/javascript", :src => "/whenisthat.js"}
      
  %body
    <script type="text/javascript"><!--
    google_ad_client = "pub-5117103821008928";
    /* 728x90, created 6/8/09 */
    google_ad_slot = "4077232512";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>


    = yield
    
    
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-204759-10");
    pageTracker._trackPageview();
    } catch(err) {}</script>



