!!!
%html{"xml:lang"=>"en", "lang"=>"en", "xmlns"=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{"content"=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}/
    %title
      When is that - easily convert time zones
    %link{:rel => "stylesheet", :href=>'/stylesheets/whenisthat.css'}/
    %script{:type => "text/javascript", :src => "/jquery.js"}
      
    %script{:type => "text/javascript", :src => "/whenisthat.js"}
      
    
  %body
    = yield
